body{
    margin: 0;
    background-color: #048c8c;
}
/* #11a79 */
.rectangle{
    display: inline;
    visibility: visible;
    width: 210px;
    height: 100px;
    background-color: white;
    margin-right: 8px;
}

.form{
    margin-top: 10px;
    text-align: center;
}

.container{
    border: 1px solid rgb(240, 139, 103);
    margin: 0 8px;
    padding: 45px 8px;
    height:100vh;
}

#input{
    border: 1px solid rgb(107, 106, 106);
}
#btn{
  padding: 1px 7px;
  border: 1px solid rgba(51, 50, 50, 0.849);
  border-radius: 3px;
}